.filler {
    display: flex;
    flex-direction: row;
    background-color: var(--alt-white);
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.filler > a > img {
    width: 4rem;
    height: 4rem;
}