:root {
    --deep-blue: #2C3E50;
    --light-blue: #3498DB;
    --soft-gold: #D4AF37;
    --alt-white: #f8f0e3;
    --primary-brown: #d2b48f;
}
.fourth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 3rem;
    background-color: var(--deep-blue);
    z-index: 1;
    color: white;
}
.fourth-heading {
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;
}
.ministries-main {
    border: 1px solid var(--soft-gold);
}