:root {
    --deep-blue: #28343e;
    --soft-gold: #D4AF37;
    --alt-white: #fffaf1;
}
body {
    font-family: Roboto, Montserrat, Poppins;
    background-color: white;
    color: var(--deep-blue);
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    margin-bottom: 2000px;
}
main  {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}
.show {
    opacity: 100;
}
  