.hero-board {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: black;
    text-align: center;
    height: 101vh;
    width: 100vw;
}
.hero-image {
    object-fit: cover;
    opacity: 0.3;
    height: 100%;
    width: 100%;
}
.hero-heading {
    top: 40%;
    position: absolute;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: white;
}
.hero-description {
    top: 55%;
    color: white;
    position: absolute;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 300;
    width: 60vw;
}
.arrow-svg {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 3%;    
}
