:root {
    --deep-blue: #2C3E50;
    --light-blue: #3498DB;
    --soft-gold: #D4AF37;
    --alt-white: #f8f0e3;
    --primary-brown: #d2b48f;
}
.second-section {
    display: flex;
    justify-items: space-between;
    align-items: center;
    padding: 4rem 3rem;
}
.second-main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.second-heading {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-family: Montserrat;
}
.second-description {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: Poppins;
    margin-bottom: 2rem;
}
.second-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    text-align: left;  
}
.about-subgroup {
    border-radius: 0.5rem;
    padding: 0 0;
    margin: 0 1rem;
    transition: all 0.3s ease;
}
.about-subgroup >h3 {
    text-decoration: none;
    color: var(--soft-gold);
    font-size: 2rem;
    font-weight: 500;
    font-family: Montserrat;
}
.about-subgroup >p {
    font-size: 1.1rem;
    font-family: Poppins;
    color: var(--deep-blue);
    opacity: 0.5;
    line-height: 1.6;
    margin: 1rem 0;
}
.learn-more-anchor {
    display: inline-block;
    width: 10rem; 
    height: 2rem; 
    font-family: Poppins;
    color: var(--deep-blue);
    font-weight: 500;
    opacity: 0.75;
    transition: all 0.3s ease;
    svg {
        width: 3rem; 
        height: 2rem;
        display: inline-block; 
        vertical-align: middle;
        fill: var(--deep-blue);
        stroke: var(--deep-blue);
    }
}
.learn-more-anchor:hover {
    transform: scale(1.1);
    color: var(--deep-blue);
    opacity: 1;
    svg {
        fill: var(--deep-blue);
        stroke: var(--deep-blue);
    }
}
