:root {
    --deep-blue: #28343e;
    --soft-gold: #D4AF37;
    --alt-white: #fffaf1;
}
.third-section {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 3rem;
    background-color: white;
    z-index: 1;
    color: var(--deep-blue);
}
.third-heading {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    font-family: Montserrat;
}
.third-main {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: right;
    gap: 17rem;
}
.subheading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--soft-gold);
    margin-bottom: 2rem;
}
.third-left {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.third-timings {
    margin: 0 0 2rem 0;
}
.mini-heading {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.times {
    font-size: 1.5rem;
}
.third-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 20rem;
    width: 30rem;
}